.main-background {
    background-color: #e8f0f8; /* color claro azulado */
   
  }
  
  /* Asegurarse de que la estructura use toda la altura */
  .layout-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  